<button #btnAdd (click)="addSelfie()">Ajouter un selfie</button>

<hr>
<span (click)="addSelfie()">Ajouter un selfie</span>
<hr>

<ng-template #noRow>
  <i>Aucun selfie de disponible</i>
</ng-template>

<div *ngIf="true">
  Une information clef
</div>

<table *ngIf="afficherTableau; else noRow">
<thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of selfies">
      <td>
        {{ item.titre }}
          <!-- {{item}} afficher le titre de l'objet Selfie -->
          <button (click)="deleteOneItem(item)">[ - ]</button>
      </td>
    </tr>
  </tbody>
</table>
